.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.menu ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}

.product-container img{
  width: 60px;
  height: 60px;
}
.product-container .cell{
  display: inline;
}

.products .product-container td{
  
  width:  150px;
  height: 30px;
  text-align: center;
}
.search{
  display: flex;
 gap: 400px;
}
button{
  background-color: rgb(87, 102, 241);
  color: white;
  border-radius: 10px;
 
  font-weight: bold;
  border: 0;
  padding: 10px;
}